*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

#wraper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.container{
    width: 1200px;
    margin: 0 auto;
}

/* Navigation Bar  */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: baseline;
}

.logo-text{
    margin-left: -0.6rem;
    font-size: 2rem;
    font-weight: bold;
}

.logo-img{
    width: 50px;
}

.nav-item{
    display: flex;
    gap: 2.2rem;
    padding: 0 4em;
}

.nav-item div a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-item div a:hover{
    transition: 0.5s;
    color: #5955d9;
}

/* Hero Section  */
.hero-section{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.hero-section-left{
    position: relative;
    top: 5rem;
    left: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.heading{
    font-size: 30px;
    color: #343d68;
    font-weight: 500;
}

.role{
    color: #5955d9;
    font-size: 2.5rem;
    font-weight: 700;
}


.btn{
    position: absolute;
    top: 4.5rem;
    left: 8rem;
    background-color: #5955d9;
    width: 160px;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    box-shadow: 5px 5px 7px 0px #0000003f;
    position: relative;
    z-index: 1;
    cursor: pointer;
    
}

.btn::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background-color: #383736;
    transform: scaleX(0);
    transform-origin: left;
    transition: 0.3s;
    z-index: -1;
}

.btn:hover::before{
    transform: scaleX(1);
}

#user-main img{
    height: 200px;
    z-index: -1;
}

#name{
    font-size: 2.8rem;
    font-weight: 700;
}

.hero-section-right{
    height: 400px;
    width: 372px;
    position: relative;
}

#user-main{
    top: 3.5rem;
    padding: 2rem;
    filter: grayscale(1);
    transition: 1s;
    animation: scaleImage 5s linear infinite;
}

.absolute{
    position: absolute;
}

#dots{
    z-index: 1;
    bottom: -0.5rem;
    right: 1.5rem;
    animation: dotsAnimation 5s infinite;
}

#cube{
    z-index: 1;
    top: 5rem;
    right: 3rem;
    animation: cubeRotate 3s infinite;
}

/* Keyframs */
@keyframes scaleImage {
    0%{
        filter: grayscale(0);
        transform: scale(1);
    }

    50%{
        transform: scale(1.1);
        filter: grayscale(1);
        box-shadow: 3px 3px 10px black;
    }

    100%{
        transform: scale(1);
        filter: grayscale(0);
    }
    
}

@keyframes dotsAnimation {
    0%{
        transform: translateY(0px) scale(1);
    }
    50%{
        transform: translateY(-15px) scale(1.1);
    }
    100%{
        transform: translateY(0px) scale(1);
    }
}

@keyframes cubeRotate {
    0%{
        transform: rotateY(0deg) translateY(0px);
    }
    50%{
        transform: rotateY(180deg) translateY(-15px);
    }
    100%{
        transform: rotateY(360deg) translateY(0px);
    }
}


/* Project Section  */
#project-btn1{
    width: 140px;
    font-size: small;
    border: none;
}
